/* regole di reset */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regola di debug */

.debug{
  height: 200px;
  border:1px solid red;
}

/* framework 12bool */

.conteiner{
  max-width: 1170px;
  margin: 0 auto;
}
