.debug .container{
  background-color: #FFC0CB;
  border: 1px solid black;
}

.container > [class*="col-"]{
  border: 1px solid black;
  padding: 5px 5px;
}

.col-6 > [class*="col-"] {
  border: 1px solid #fff;
  background-color: #F07F80;
  height: calc( 100% - 2.5px);
  position:relative;
}

.container > [class*="col-"]{
  position: relative;
}

p{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}
